#multilinechart{
	max-width: 1000px;
	margin: 2rem auto 2rem;
}

#multilinechart svg, #multilinechart #svgContainer, .tick text {
	max-width: 1000px;
	margin: 0 auto;
	font-family: "akkurat", -apple-system, sans-serif;
}

#multilinechart {
	color: #333;
	font-family: "akkurat", -apple-system, sans-serif;
}
